# Metatrader 5
[Link]('https://www.mql5.com/pt/docs/python_metatrader5')

In [1]:
import MetaTrader5 as mt5
import pytz

from datetime import datetime, timedelta
import pandas as pd

In [2]:
# conecte-se ao MetaTrader 5
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

## Obtendo dados de Ticks

https://www.mql5.com/pt/docs/python_metatrader5/mt5copyticksfrom_py

https://www.mql5.com/pt/docs/python_metatrader5/mt5copyticksrange_py

**time**: Em UTC+0, quantidade de tempo que passou depois da data 01/01/1970

**time_ms**: Em milisegundos

In [25]:
ticker = 'PETR4'
t0 = datetime.today() - timedelta(days=2)
t1 = datetime.today()
ticks = mt5.copy_ticks_range(ticker, t0, t1, mt5.COPY_TICKS_TRADE)
df = pd.DataFrame(ticks)
df.head(5)

         time    bid    ask   last  volume       time_msc  flags  volume_real
0  1751364226  31.25  31.45  31.45    5700  1751364226984   1336       5700.0
1  1751364226  31.25  31.45  31.45    9800  1751364226984   1336       9800.0
2  1751364226  31.25  31.45  31.45    7300  1751364226984   1336       7300.0
3  1751364226  31.25  31.45  31.45    4700  1751364226984   1336       4700.0
4  1751364226  31.25  31.45  31.45   20600  1751364226984   1336      20600.0

In [22]:
# Convertendo 'time' de timestamp Unix para datetime (UTC)
# Milisegundo
pd.to_datetime(df['time_msc'], unit='ms', utc=True)
# Segundo
pd.to_datetime(df['time'], unit='s', utc=True)

time_utc
2025-07-01 10:03:46.984000+00:00   2025-07-01 10:03:46+00:00
2025-07-01 10:03:46.984000+00:00   2025-07-01 10:03:46+00:00
2025-07-01 10:03:46.984000+00:00   2025-07-01 10:03:46+00:00
2025-07-01 10:03:46.984000+00:00   2025-07-01 10:03:46+00:00
2025-07-01 10:03:46.984000+00:00   2025-07-01 10:03:46+00:00
                                              ...
2025-07-02 15:42:41.694000+00:00   2025-07-02 15:42:41+00:00
2025-07-02 15:42:45.279000+00:00   2025-07-02 15:42:45+00:00
2025-07-02 15:42:47.139000+00:00   2025-07-02 15:42:47+00:00
2025-07-02 15:42:47.390000+00:00   2025-07-02 15:42:47+00:00
2025-07-02 15:42:51.806000+00:00   2025-07-02 15:42:51+00:00
Name: time, Length: 32514, dtype: datetime64[ns, UTC]

In [26]:
df['time_segundo'] = pd.to_datetime(df['time'], unit='s', utc=True)
df.set_index('time_segundo', inplace=True)
df

,time,bid,ask,last,volume,time_msc,flags,volume_real
time_segundo,,,,,,,,
2025-07-01 10:03:46+00:00,1751364226,31.25,31.45,31.45,5700,1751364226984,1336,5700.0
2025-07-01 10:03:46+00:00,1751364226,31.25,31.45,31.45,9800,1751364226984,1336,9800.0
2025-07-01 10:03:46+00:00,1751364226,31.25,31.45,31.45,7300,1751364226984,1336,7300.0
2025-07-01 10:03:46+00:00,1751364226,31.25,31.45,31.45,4700,1751364226984,1336,4700.0
2025-07-01 10:03:46+00:00,1751364226,31.25,31.45,31.45,20600,1751364226984,1336,20600.0
...,...,...,...,...,...,...,...,...
2025-07-02 15:47:45+00:00,1751471265,32.06,32.07,32.06,100,1751471265318,1112,100.0
2025-07-02 15:47:47+00:00,1751471267,32.06,32.07,32.06,100,1751471267932,1112,100.0
2025-07-02 15:47:49+00:00,1751471269,32.06,32.07,32.07,300,1751471269784,1080,300.0
2025-07-02 15:47:51+00:00,1751471271,32.06,32.08,32.08,300,1751471271853,1080,300.0
2025-07-02 15:47:51+00:00,1751471271,32.06,32.08,32.06,100,1751471271858,1112,100.0